.tile {
    border: 3px solid #640698;
    border-radius: 5px;
    position: relative;
    margin: 5px;
    float: left;
    padding: 0;
}
.col-sm-3 {
    padding: 0;
}
.tile.hidden {
    border: 0;
}.navbar-default {
    border-top: 4px solid #AA53DA;
    background-image: linear-gradient(to bottom,#fff 0,#C27FE7 500%)!important;
}
.tile img {
    opacity: 0.8;
    z-index: 0;

    /*Blur when not hovering
    -webkit-transition : -webkit-filter 50ms linear;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
}
.tile:hover img {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    */
}
.highlight-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity:0.6;
    z-index: 1;
    mix-blend-mode: overlay;
}

/*Overlay colors*/
.highlight-overlay.orange {
    background:rgba(255,153,51,1); /* Orange */
}
.highlight-overlay.orange {
    background:rgba(255,153,51,1); /* Orange */
}
.highlight-overlay.orange {
    background:rgba(255,153,51,1); /* Orange */
}
.highlight-overlay.orange {
    background:rgba(255,153,51,1); /* Orange */
}

.tile:hover .highlight-overlay {
    opacity:0.7;
}
.tile:active .highlight-overlay {
    opacity:0.8;
}
div.image-container {   
    background-color: rgb(255,255,255);
}
.image-container img {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 2px;
}
.header-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.header-container .panel {
    display: table;
    width: 100%;
    height:100%;
    background-color: rgba(255,255,255,0);
}
.header-container .panel h2 {
    display: table-cell;
    vertical-align: bottom;
    text-align: center;
}
.header-container .panel h2 span {
    display: inline-block;
    padding: 5px 2px;
    width: 98%;
    margin-bottom: 1%;
    background-color: rgba(255,255,255,0.65);
    border: 0;
    border-radius: 5px;
}

a.tile-link:link {
	color: rgb(0,0,0);
}

a.tile-link:visited {
	color: rgb(0,0,0);
}

.tile:hover {
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

@media (max-width: 440px) {
    .header-container .panel h2 span {
        font-size:8px;
    }
}

@media (min-width: 441px) and (max-width: 480px) {
    .header-container .panel h2 span {
        font-size:9px;
    }
}

@media (min-width: 481px) and (max-width: 650px) {
    .header-container .panel h2 span {
        font-size:9px;
    }
}

@media (min-width: 651px) and (max-width: 767px) {
    .header-container .panel h2 span {
        font-size:12px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .header-container .panel h2 span {
        font-size:14px;
    }
}

@media (min-width: 1200px) {
    .header-container .panel h2 span {
        font-size:20px;
    }
}

body {
    font-family: 'Roboto Slab', serif;
    height: 100%;
    background-color: #FFFFFF
}

/*
body:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../img/stripe.gif'); 
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}
*/

h1#title {
    font-size: 60px;
}

p#tagline {
    font-size: 18px;
}

.row.text-center > div {
    display: inline-block;
    float: none;
}

/*Prevent navbar collapse*/
.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}

.navbar li.active {
    font-weight: bold;
}