.tile {
    border: 3px solid #555;
    position: relative;
    margin: 6px;
    float: left;
}
.image-container img {
    display: block;
    height: 100%;
    width: 100%;
}
.header-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.header-container .panel {
    display: table;
    width: 100%;
    height: 100%;

    background-color: rgba(255,255,255,0);
}
.header-container .panel h2 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.header-container .panel h2 span {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    margin: 0 10px;
    background-color: rgba(255,255,255,0.6);
}

@media (max-width: 480px) {
    .header-container .panel h2 span {
    font-size:14px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .header-container .panel h2 span {
    font-size:20px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .header-container .panel h2 span {
    font-size:24px;
    }
}

@media (min-width: 980px) {
  .header-container .panel h2 span {
  font-size:28px;
  }
}