.tile {
    border: 3px solid #555;
    border-radius: 5px;
    position: relative;
    margin: 5px;
    float: left;
    padding: 0;
}
.highlight-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity:0;
}
.tile:hover .highlight-overlay {
    opacity:0.6;
}
.tile:active .highlight-overlay {
    opacity:1;
}
.image-container img {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 2px;
}
.header-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.header-container .panel {
    display: table;
    width: 100%;
    height:100%;
    background-color: rgba(255,255,255,0);
}
.header-container .panel h2 {
    display: table-cell;
    vertical-align: bottom;
    text-align: center;
}
.header-container .panel h2 span {
    display: inline-block;
    padding: 5px;
    width: 98%;
    margin-bottom: 1%;
    background-color: rgba(255,255,255,0.65);
    border: 0;
    border-radius: 5px;
}

a.tile-link:link {
	color: rgb(0,0,0);
}

a.tile-link:hover {
	color: rgb(50,50,50);
}


a.tile-link:active {
	color: rgb(100,100,100);
}

a.tile-link:visited {
	color: rgb(0,0,0);
}

.tile:hover {
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

@media (max-width: 440px) {
    .header-container .panel h2 span {
    font-size:10px;
    }
}

@media (min-width: 441px) and (max-width: 480px) {
    .header-container .panel h2 span {
    font-size:12px;
    }
}

@media (min-width: 481px) and (max-width: 650px) {
    .header-container .panel h2 span {
    font-size:16px;
    }
}

@media (min-width: 651px) and (max-width: 767px) {
    .header-container .panel h2 span {
    font-size:20px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .header-container .panel h2 span {
    font-size:22px;
    }
}

@media (min-width: 1200px) {
  .header-container .panel h2 span {
  font-size:24px;
  }
}

body {
    font-family: 'Roboto Slab', serif;
}

h1#title {
    font-size: 60px;
}

p#tagline {
    font-size: 18px;
}

.row.text-center > div {
    display: inline-block;
    float: none;
}