<!DOCTYPE html>
<html>
{% include head.html %}

<body>
{% include nav.html %}
<div class="wrapper">
    <div class="title">
        <h1>{{ page.title }}</h1>
    </div>
    <div class="project-list">
        <ul>
            {% for post in site.posts %} 
                {% if post.project %}
                    <a href="{{ site.url }}{{ post.url }}">
                        <li>
                            {% if post.preview %}
                                <img class="preview" src="{{ site.url }}../{{ post.preview }}" />
                            {% endif %}
                            <span class="post-title">{{ post.title }}</span>
                        </li>
                    </a>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% include footer.html %}
</body>
</html>
